.alert {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background: #f2f4f7;
  color: #000000;
}

.label {
  font-family: Poppins-Regular !important;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.cur {
  font-family: Poppins-Regular !important;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.fieldTitle {
  color: var(--Text-color-1, #0d1522);
  font-family: Poppins-Regular !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.btnSubmit {
  display: flex;
  align-items: center;
  color: var(--Primary-Brand-Color, #274bf1);
  font-family: Poppins-Regular !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.secondaryTitle {
  color: var(--gray-800-header-text, #030f1c);
  /* Large/Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: */
  font-family: Poppins-Regular !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-top: 5px;
}
.milestoneHeader {
  color: var(--gray-800-header-text, #030f1c);
  /* Titles/The quick brown fox jumps over the lazy dog */
  font-family: Poppins-Regular !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.endDate {
  color: var(--light-text-color-2, #8c92a4);
  /* Normal/Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: */
  font-family: Poppins-Regular !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.endDateValue {
  color: var(--light-text-color-1, #202939);
  font-family: Poppins-Regular !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
.viewDetails {
  color: var(--Primary-Brand-Color, #274bf1);
  /* Large/Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: */
  font-family: Poppins-Regular !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.budgetName {
  color: var(--gray-800-header-text, #030f1c);
  /* Titles/The quick brown fox jumps over the lazy dog */
  font-family: Poppins-Regular !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.spec {
  color: var(--grey-body-text, #646f86);
  /* Normal/Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: */
  font-family: Poppins-Regular !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.detailsContent {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  margin-top: 6px;
}

.firstItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.secondItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastItem {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.detailLabel {
  color: var(--light-text-color-1, #202939);
  font-family: Poppins-Regular !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 6px;
}

.detailValue {
  color: var(--light-text-color-1, #202939);
  font-family: Poppins-Regular !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
