.terms-content {
  height: 350px;
  overflow-y: scroll;
}
.terms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submit-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.submit {
  background: #274bf1;
  border: unset;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  width: 50%;
  cursor: pointer;
}

.submit-disabled {
  background: rgb(245, 246, 248);
  border: unset;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
}
.acceptance-bar {
  padding: 5px;
}
