.terms-content {
  height: 350px;
  overflow-y: scroll;
  word-break: keep-all;
  font-family: "Poppins-Regular";
  padding: 0px 10px;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
.serviceHeader {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .terms-content {
    width: 290px;
  }
}
@media screen and (max-width: 550px) {
  .terms-content {
    width: 270px;
  }
}

@media screen and (max-width: 450px) {
  .terms-content {
    width: 200px;
  }
}
.terms-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins-Regular";
}
.submit-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: "Poppins-Regular";
}

.submit {
  background: #274bf1;
  border: unset;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
  width: 50%;
  cursor: pointer;
  font-family: "Poppins-Regular";
}

.submit-disabled {
  background: rgb(245, 246, 248);
  border: unset;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  font-family: "Poppins-Regular";
}
.acceptance-bar {
  padding: 10px;
  font-family: "Poppins-Regular";
}
