.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MT70 {
  margin-top: 70px;
}

::-webkit-scrollbar {
  display: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "ElMessiri-Bold";
  src: local("ElMessiri-Bold"),
    url("./assets/fonts/ElMessiri-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "ElMessiri-Medium";
  src: local("ElMessiri-Medium"),
    url("./assets/fonts/ElMessiri-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "ElMessiri-Regular";
  src: local("ElMessiri-Regular"),
    url("./assets/fonts/ElMessiri-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ElMessiri-SemiBold";
  src: local("ElMessiri-SemiBold"),
    url("./assets/fonts/ElMessiri-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Roobert-Regular";
  src: local("Roobert-Regular"),
    url("./assets/fonts/Roobert-Regular.ttf") format("truetype");
  font-weight: 400;
}
